* {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

.design {
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}

.footer,
.copyright,
.footer a {
  font-size: 11px;
  color: white;
  text-align-last: left;
  background-color: dimgray;
}
